<div class="content">
    <div class="top-content">
        <p class="title">Swampum</p>
    </div>
    <div class="bottom-content">
        <div class="tasks-panel">
            <p class="sub-title">Task</p>
            <div class="tasks">
                <p class="task selected">#1 - Criar Banco</p>
                <p class="task">#2 - Revisa Interface</p>
                <p class="task">#3 - Criar Documentacao</p>
                <p class="task">#4 - Comer Pudim</p>
            </div>
        </div>
        <div class="selected-task">
            <div class="top-selected-task">
                <p class="sub-title-task">Criar Banco</p>
                <p class="priority high">High Priority</p>
            </div>
            <div class="task-attribute">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc posuere accumsan dui, ac malesuada justo finibus
                    non.
                </p>
                <div class="task-button">
                    <div class="task-buttom-left">
                        <a class='button' href="#!timetracker"> Time Tracker</a>
                        <a class='button' href="#!chart"> Chart</a>
                    </div>
                    <div class="task-buttom-right">
                        <a class='button' href="#!time">Ends in 4d 3h</a>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>