<div class="sidebar">
    <div class="sidebar-top">
        <div class="sidebar-item logo">
        </div>
        <div class="sidebar-item user">
            <img class='user-img' src="https://avatars3.githubusercontent.com/u/15956455?s=100&v=4" alt="User photo">
            <p class="username">Matheus de Assis</p>
        </div>
    </div>
    <div class="sidebar-bottom">
        <div onclick='changeActive(this)' class="sidebar-item menu menu-first">
            <a href="#!project" class="menu-item">PROJECTS</a>
        </div>
        <div onclick='changeActive(this)' class="sidebar-item menu">
            <a href="#!task" class="menu-item">TASKS</a>
        </div>
        <div onclick='changeActive(this)' class="sidebar-item menu">
            <a href="#!chart" class="menu-item">CHARTS </a>
        </div>
        <div onclick='changeActive(this)' class="sidebar-item menu">
            <a href="#!calendar" class="menu-item">CALENDAR</a>
        </div>
        <div onclick='changeActive(this)' class="sidebar-item menu">
            <a href="#!command" class="menu-item">COMMANDS</a>
        </div>

    </div>
</div>