html{
    font-size: 26px;
}

body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.todo {
    display: grid;
    grid-template-rows:  3fr 7fr;
}

.header { 
    background: linear-gradient(#3b5998, #3894A5);
    display: grid;
    grid-template-rows: 1fr 3fr   
}

.nav{
    float: right;
    display: block;
    color:white;
    font-size: 1em;
}

.nav-items{
    list-style-type: none;
    float: right;
    margin-right: 5%;
}

.nav-item{
    display: inline;
    border-bottom: solid 1px;
}

.title{
    font-size: 3em;
    color: white;
    padding-left: 15%;
    margin: 0;
}

.tagline {
    font-size: 1.5em;
    color: #ddddff;
    padding-left: 15%;
    margin: 0;    
}

.content {
    background-color: #e3e9f5;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1%;
    padding-top: 5%;
    font-size: 1em;
    height: 50%;
}

.col { 
    background-color: white;
    border-radius: 5%;
    text-align: center;
    
}
.row-text{
    margin-top: 10%;
    color: #333;
}

img {
    height: 50%;
    width: auto;
}